@model petscare.Models.vets

@{
    ViewBag.Title = "VeterinarySignUp";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<section style="text-align:center;" id="registration" class="container">
    @using (Html.BeginForm())
    {

        <div style="text-align:center;padding-bottom:15px;">Üye Ol<span> |</span> <span><a class="btn btn-xs btn-primary" href="/Veterinary/VeterinaryLogin">Giriş Yap</a></span></div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form class="center" role="form">
            <fieldset class="registration-form">
                <div class="form-group">
                        @Html.EditorFor(model => model.vets_firstname, new { htmlAttributes = new { @class = "form-control", placeholder = "Ad", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_firstname, "", new { @class = "text-danger" })
              
                </div>

                <div class="form-group">
                        @Html.EditorFor(model => model.vets_lastname, new { htmlAttributes = new { @class = "form-control", placeholder = "Soyad", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_lastname, "", new { @class = "text-danger" })
               
                </div>

                <div class="form-group">
                        @Html.EditorFor(model => model.vets_email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_email, "", new { @class = "text-danger" })
                   
                </div>

                <div class="form-group">
                        @Html.EditorFor(model => model.vets_telephone, new { htmlAttributes = new { @class = "form-control", placeholder = "Telefon:(123)4567891", required = "required", type = "tel", pattern = "[0-9]{3}[0-9]{7}" } })
                        @Html.ValidationMessageFor(model => model.vets_telephone, "", new { @class = "text-danger" })
                   
                </div>



                <div class="form-group">
                        @Html.EditorFor(model => model.vets_age, new { htmlAttributes = new { @class = "form-control", placeholder = "Yaş", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_age, "", new { @class = "text-danger" })
                    </div>
             

                <div class="form-group">
                        @Html.EditorFor(model => model.vets_username, new { htmlAttributes = new { @class = "form-control", placeholder = "Kullanıcı Adı", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_username, "", new { @class = "text-danger" })
                    </div>
            

                <div class="form-group">
                        @Html.EditorFor(model => model.vets_firstpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Şifre", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_firstpassword, "", new { @class = "text-danger" })
                    </div>

                <div class="form-group">
                        @Html.EditorFor(model => model.vets_passwordagain, new { htmlAttributes = new { @class = "form-control", placeholder = "Şifre Tekrar", required = "required" } })
                        @Html.ValidationMessageFor(model => model.vets_passwordagain, "", new { @class = "text-danger" })
                    </div>

                <a class="text-danger" style="margin-left:30px;">@Session["veterrorpassword"]</a>

                <div class="form-group">
                        <input type="submit" value="Kayıt Ol" class="btn btn-default" />
                </div>
                </fieldset>
        </form>
                }
    </section>

