@model IEnumerable<petscare.Models.vets>

@{
    ViewBag.Title = "Veteriner Listesi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Ad
        </th>
        <th>
           Soyad
        </th>
        <th>
            Email
        </th>
        <th>
            Telefon
        </th>
        <th>
           Yaş
        </th>
        <th>
            Kullanıcı Ad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vets_firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vets_lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vets_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vets_telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vets_age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vets_username)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vets_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.vets_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vets_ID })
        </td>*@
    </tr>
}

</table>
